[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/DavidRus (DavidArt)
[access "refs/for/refs/*"]
	read = group user/DavidRus (DavidArt)
	push = group user/DavidRus (DavidArt)
	label-Code-Review = -2..+2 group user/DavidRus (DavidArt)
	label-Verified = -1..+1 group user/DavidRus (DavidArt)
	rebase = group user/DavidRus (DavidArt)
	removeReviewer = group user/DavidRus (DavidArt)
	submit = group user/DavidRus (DavidArt)
[access "refs/heads/*"]
	read = group user/DavidRus (DavidArt)
	create = group user/DavidRus (DavidArt)
	push = +force group user/DavidRus (DavidArt)
	pushMerge = group user/DavidRus (DavidArt)
[access "refs/tags/*"]
	push = group user/DavidRus (DavidArt)
	push = +force group user/DavidRus (DavidArt)
